{% extends "base.html" %}

{% block title %}ima profil{% endblock %}

{% block content %}
    <body>
    <h2 class="text-center">Recipe List</h2>
    <hr>
    {% if user.is_authenticated %}
        {% if recipes %}
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <img src="{{ recipe.image_url }}" width="200" height="200"/>
                                <hr>
                                <a href="{% url 'recipe_detail' pk=recipe.pk %}" class="btn btn-warning">How
                                    to
                                    prepare</a>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
        {% else %}
            <h3>No recipes</h3>
        {% endif %}
    {% endif %}
    </body>
{% endblock %}