<!-- recipes/recipe_detail.html -->
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.title }}</title>
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <h4>Author: {{ recipe.author }}</h4>
    <img src="{{ recipe.image_url }}" alt="img" width="200" height="200"/>
    <p>Description: {{ recipe.description }}</p>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Instructions: {{ recipe.instructions }}</p>
    <p>Released: {{ recipe.created_at }}</p>
    <p>Updated: {{ recipe.updated_at }}</p>
    <a class="nav-link" href="{% url 'edit_recipe' recipe_id=recipe.id %}">Edit Recipe</a>
    <a class="nav-link" href="{% url 'delete_recipe' recipe_id=recipe.id %}">Delete Recipe</a>
</body>
{% endblock %}
